.container {
  width: 90%;
  margin: 20px auto;
  box-shadow: 0 0 5px 0 #dedede;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    .title {
      font-size: 20px;
      color: #ff0098;
    }
  }
}
